/* -------------------------------------------------------------------------------- */
/* Define main body */
/* -------------------------------------------------------------------------------- */
/* HTML */
html {
  background-color: #eeeeee;
}

/* Body */
body {
    font-family: Georgia, serif;
    color: #000;
    background-color: #ffffff;
    text-align:left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-left:  30px;
    padding-right: 30px;
    padding-left:  50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 960px;
}
/* -------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------- */
/* Define titles */
/* -------------------------------------------------------------------------------- */
h1 {
    color: #000000;
    margin-top: 0.7em;
    margin-bottom: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.2em;
    line-height: 1.0;
    /* border-bottom: 1.5px solid #aaaaaa; */
    font-family: "times";
    font-size: 180%;
}

h2 {
    color: #325bad;
    margin-top: 0.7em;
    margin-bottom: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.2em;
    line-height: 1.0;
    /* border-bottom: 1.5px solid #aaaaaa; */
    font-family: "times";
    font-size: 160%;
}

h3 {
    color: #325bad;
    margin-top: 0.7em;
    margin-bottom: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.2em;
    line-height: 1.0;
    /* border-bottom: 1px solid #aaaaaa; */
    font-family: "times";
    font-size: 140%;
}

h4 {
    color: #325bad;
    margin-top: 0.7em;
    margin-bottom: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.2em;
    line-height: 1.0;
    /* border-bottom: 1px solid #aaaaaa; */
    font-family: "times";
    font-size: 120%;
}
/* -------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------- */
/* Define table */
/* -------------------------------------------------------------------------------- */
.table-container {
    display: none;
    margin: 10px 0;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
th, td {
    border: 1px solid #adadad;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #e2e2e2;
}
/* -------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------- */
/* Define figure */
/* -------------------------------------------------------------------------------- */
figure {
    margin: 0 10px;
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
}
figcaption {
    font-size: 14px;
    color: #CC6600;
    text-align: left;
}
/* -------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------- */
/* Define others */
/* -------------------------------------------------------------------------------- */
/* List */
ul {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}
li {
    margin-top:0.9em;
}
/* URL */
a {
    color: #224b8d;
    text-decoration: none;  /* no underline */
}
a:hover {
    border-bottom: 1px gray dotted;  /* mouse event */
}
p {
    margin-top: 0.0em;
    margin-bottom: 0.8em;
    padding: 0;
    line-height: 1.3;
}
/* -------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------- */
/* Else */
/* -------------------------------------------------------------------------------- */
.date {
    color: #686868;
    font-size: 15px;
}
.model {
    color: #325bad;
    font-size: 15px;
    font-weight: bold;
}
.paper {
    /* color: #D92043; */
    color: #000000;
    font-size: 15px;
}
.note {
    color: #CC6600;
    font-size: 15px;
    /* font-weight: bold; */
}
.summary {
    color: #000000;
    font-size: 15px;
}
/* -------------------------------------------------------------------------------- */