/* -------------------------------------------------------------------------------- */
/* Define main body */
/* -------------------------------------------------------------------------------- */
/* HTML */
html {
  background-color: #eeeeee;
}

/* Body */
body {
    font-family: Georgia, serif;
    color: #000;
    background-color: #ffffff;
    text-align:left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-left:  30px;
    padding-right: 30px;
    padding-left:  50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 960px;
}
/* -------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------- */
/* Define titles */
/* -------------------------------------------------------------------------------- */
h1 {
    color: #505050;
    margin-top: 0.7em;
    margin-bottom: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.2em;
    line-height: 1.0;
    font-family: Helvetica, sans-serif;
    font-size: 150%;
}

h2 {
    color: #505050;
    margin-top: 0.7em;
    margin-bottom: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.2em;
    line-height: 1.0;
    font-family: Helvetica, sans-serif;
    font-size: 120%;
}
/* -------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------- */
/* Define others */
/* -------------------------------------------------------------------------------- */
a {
    color: #505050;
    /* text-decoration: none; */
}
.no_dec {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #4169E1;
}
p {
    color: #505050;
    margin-top: 0.0em;
    margin-bottom: 0.8em;
    padding: 0;
    line-height: 1.5;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
.larger {
    font-size: 16px;
}
li {
    color: #505050;
    margin-top: 0.0em;
    margin-bottom: 0.8em;
    padding: 0;
    line-height: 1.5;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
.paper_title {
    /* cursor: pointer; */
    /* color: #202020; */
    color: #505050;
    font-size: 16px;
    font-family: Arial, sans-serif;
    margin-bottom: 0.5em;
    /* font-weight:bold; */
}
.paper_detail {
    color: #505050;
    font-size: 13px;
    /* font-family: Arial, sans-serif; */
    /* font-weight:bold; */
}
.summary {
    color: #202020;
}
.info_detail {
    display: none;
}
.little_split{
    font-size: 5px;
}
figure {
    margin: 0 10px;
    text-align: center;
}
figcaption {
    font-size: 14px;
    color: #505050;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

#backToTop {
    position: fixed;
    bottom: 30px;
    right: 180px;
    background-color: #4169E1;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 1000;
}
#backToTop.show {
    display: block;
}
/* -------------------------------------------------------------------------------- */